// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// different primary colours
.primaryRed {
  .toolbar-background {
    background-color: #e74c3c;
  }
  .toolbar-title {
    color: #fff
  }
}
.primaryBlue {
  .toolbar-background {
    background-color: #004c9b;
  }
  .toolbar-title {
    color: #fff
  }
}
.primaryGold {
  .toolbar-background {
    background-color: #ffdc00;
  }
}
.primaryGrey {
  .toolbar-background {
    background-color: #bfbfbf;
  }
}
.primaryWhite {
  .toolbar-background {
    background-color: #ffffff;
  }
}

// different secondary colours
.secondaryRed {
  ion-content {
    background-color: #e74c3c;
  }
  button {
    border: #fff;
  }
}
.secondaryBlue {
  ion-content {
    background-color: #004c9b;
  }
  button {
    border: #fff;
  }
}
.secondaryGold {
  ion-content {
    background-color: #ffdc00;
  }
}
.secondaryGrey {
  ion-content {
    background-color: #bfbfbf;
  }
}
.secondaryWhite {
  ion-content {
    background-color: #ffffff;
  }
}

$colors: (
  primary:    #e74c3c,
  secondary:  #fff,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  energized:  #ffc527,
  royal:      #3498db,
  subtle:     #444444,
  vibrant:    rebeccapurple,
  bright:     #ffc125,
  navheader: #505050,
  navcontent: #505050,
  ltgrey: #ecf0f1,
  greenb: #2ecc71,
  grey: #8C8C9C
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
